<div id="header">
    <div class="scroll-top">
        <div class="header">
            <h1 id="header-title"><a href="/">follow fritz</a></h1>
            <div class="border"></div>
        </div>
        <div style="position: top, left;" class="top-buttons">
            <a href="blog" class="btn-default btn-lg btnBlog">Blog</a>
            <a href="map" class="btn-default btn-lg btnMap">Map</a>
            <a href="aboutme" class="btn-default btn-lg btnAboutMe">About Me</a>
            <a href="login" class="btn-default btn-lg btnLogin" title="This feature is only for Danny :)">Login</a>
            <br>
            <br>
        </div>
    </div>
</div>