@font-face{ font-family: Blankenburg; src: url('../assets/fonts/blankenburg/Blankenburg.ttf')}
@font-face{ font-family: Mittelschrift; src: url('../assets/fonts/alte-din-1451-mittelschrift/din1451alt G.ttf')}

* {
    padding: 0px;
    margin: 0px;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#container {
    display: block;
}

#header {
    padding-top: 10px;
}

#content {
    padding-top: 10px;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 70px;
    line-height: 35px;
    font-family: Mittelschrift;
    color: black;
    font-size: 16px;
    top: 201px;
    height: 100%;
    text-align: center;
    width: 50%;
    background-color: rgba(230,230,230,0.5);
    background: linear-gradient(to bottom, rgba(230,230,230,0.5) 90%,rgba(0,0,0,0) 100%);
    background-position-x: center;
    margin: 0 auto;
}

#footer {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0; 
    left: 0;
    background-color: rgba(230,230,230,1);
    background: linear-gradient(to top, rgba(230,230,230,1) 90%,rgba(0,0,0,0) 100%);
    text-align: center;
    padding-top: 20px;
}

.scroll-top {
    position: fixed;
    top: -20px;
    width: 100%;
    z-index: 1;
}

.header {
    background-image: url("../assets/images/mountains.jpg"); 
    background-repeat: repeat-x;
    /* background-size: 10%; */
    /* background-position-y: -25px;   */
    /* background-position-x: 0px; */
    border-bottom-width: 4px;
    border-bottom-style: solid;
    width: 100%;
    border-color: red;
    text-align: center;
    padding-bottom: 4px;
}

.header h1 a {
    color: black;
    text-decoration: none;
}

#header-title {
    font-family: "Blankenburg";
    font-size: 60px;
    color: black;
    padding-bottom: 25px;
}

.top-buttons {
    padding-top: 20px;
    text-align: center;
    font-family: "Blankenburg";
    background-color: rgba(230,230,230,1);
    background: linear-gradient(to bottom, rgba(230,230,230,1) 90%,rgba(0,0,0,0) 100%);
    box-shadow: 10px;
    height: 50%;
}

.login-buttons {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-family: "Blankenburg";
}

.login-form {
    padding: 15px;
    width: 25%;
}

.header .border {
    padding-top: 4px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: red;
}