<div id="footer">
    <img src="../assets/images/mail.png" class="fa fa-mail" href="mailto:drfritz@csbsju.edu">                                 <label class="lb lb-mail"><a href="mailto:drfritz@csbsju.edu">drfritz@csbsju.edu</a></label>
    <img src="../assets/images/Linkedin.png" class="fa fa-linkedin" href="https://www.linkedin.com/in/danny-fritz-3a8849127/">    <label class="lb lb-linkedin"><a href="https://www.linkedin.com/in/danny-fritz-3a8849127/" target="_blank">Danny Fritz</a></label>
    <img src="../assets/images/github.png" class="fa fa-github" href="https://github.com/dannyfritz3">                          <label class="lb lb-github"><a href="https://github.com/dannyfritz3" target="_blank">dannyfritz3</a></label>
</div>