<%- include('../partials/head')%>
    <title>follow fritz</title>
    <body>
        <form class="login-form">
            <div class="username-field">
                <label for="username-input">Benutzername</label>
                <input type="username" class="form-control" id="username-input" placeholder="Benutzername...">
            </div>
            <div class="password-field">
                <label for="passwords-input">Passwort</label>
                <input type="password" class="form-control" id="password-input" placeholder="Passwort...">
            </div>
            <div class="login-buttons" style="text-align: left;">
                <a onclick="Login()" class="btn-default btn-lg btnLogin" title="Login">Anmeldung</a>
                <a href="blog" class="btn-default btn-lg btnGoBack" title="Go Back">Geh Zurück</a>
            </div>
        </form>
    </body>
</html>