@font-face{ font-family: Blankenburg; src: url('fonts/blankenburg/Blankenburg.ttf')}
@font-face{ font-family: Mittelschrift; src: url('fonts/alte-din-1451-mittelschrift/din1451alt G.ttf')}

.scroll-top {
    position: fixed;
    top: -20px;
    width: 100%;
    z-index: 1;
}

.header {
    background-image: url("images/mountains.jpg"); 
    background-repeat: repeat-x;
    /* background-size: 10%; */
    /* background-position-y: -25px;   */
    /* background-position-x: 0px; */
    border-bottom-width: 4px;
    border-bottom-style: solid;
    width: 100%;
    border-color: red;
    text-align: center;
    padding-bottom: 4px;
}

.header h1 a {
    color: black;
    text-decoration: none;
}

#header-title {
    font-family: "Blankenburg";
    font-size: 60px;
    color: black;
    padding-bottom: 25px;
}

.top-buttons {
    padding-top: 20px;
    text-align: center;
    font-family: "Blankenburg";
    background-color: rgba(230,230,230,1);
    box-shadow: 10px;
    height: 50%;
}

.login-buttons {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-family: "Blankenburg";
}

.login-form {
    background-color: rgba(146,146,146,0.5);
    padding: 15px;
    width: 25%;
}

.header .border {
    padding-top: 4px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: red;
}

#index-welcome {
    position: absolute;
    line-height: 35px;
    font-family: Mittelschrift;
    color: black;
    font-size: 16px;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    width: 50%;
    height: auto;
    background-color: rgba(230,230,230,0.5);
    background-position-x: center;
}

.content {
    padding-left: 50px;
    padding-right: 50px;
}