<%- include('../partials/head') %>
    <body>
        <div class="container">
            <div class="page-header text-center">
                <h1>New Blog Post</h1>
                <a href="/" class="btn btn-default">Back</a>
                <a href="/logout" class="btn btn-default">Logout</a>
            </div>
            <form class="blog-form well" method="post" action="/postblog">
                <div class="blog-description-inputs">
                    <label for="blogTitle">Title</label>
                    <input class="form-control form-input" type="text" name="title" id="blogTitle" placeholder="Blog Post Title">
                    <label for="blogCity">City</label>
                    <input class="form-control form-input" type="text" name="city" id="blogCity" placeholder="City">
                    <label for="blogCountry">Country</label>
                    <input class="form-control form-input" type="text" name="country" id="blogCountry" placeholder="Country">
                    <label for="blogImage">Image</label>
                    <input class="form-control form-input" type="file" name="image" id="blogImage">
                </div>
                    <div class="blog-content">
                        <label for="blogContent">Content</label>
                        <textarea rows="20" cols="30" class="form-control" type="text" name="content" id="blogContent" placeholder="Blog Entry..."></textarea>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </body>
</html>