<%- include('../partials/head')%>
<body>
    <div id="container">
        <%- include('../partials/header')%>
            <div id="content">
                <h1>Welcome to my blog!</h1>
                <br>
                <p>So after a whole summer of interning in St. Paul at Navegate and taking a summer course as well, 
                    I finally got around to build this blog page for myself as I travel abroad for the fall semester to
                    Salzburg, Austria! During my intership, I learned a crap ton about web based programming languages and
                    and the elements of web development. I know blogs are super cliche, but I thought this would be a unique 
                    and cool way to share some of my experiences and photos with anyone who gives a shit!  I was able to 
                    completely develop this site from the ground up. I implemented all of the HTML, CSS, and JavaScript in a 
                    Nodejs app all on my own as well as allocating a MongoDB connected to MongoLab to store all of my data 
                    on the cloud and finally tied up the application by hosting the website on a Heroku server. Oh, and 
                    since this is my first solo web project, don't expect this blog to function like a dream or look like a piece of art ;)
                    <br><br>Anyways, that's all I got for you guys. Hope you enjoy the blog that I developed and the content
                    that is soon to come. With all of that...<br><br>thank you,<br>Danny Fritz<br><br>
                </p>
            </div>
        <%- include('../partials/footer')%>
    </div>
</body>

<div class="blog-post">
    <div class="blog-post-heading">
        <h1 class="blog-post-title"></h1>
        <h3 class="blog-post-location"></h3>
        <h3 class="blog-post-timestamp"></h3>
        <img class="blog-post-imag" src="">
        <p class="blog-post-text"></p>
    </div>
</div>

</html>