<%- include('../partials/head')%>
    <title>follow fritz</title>
    <body>
        <form class="login-form" method="post" action="/login">
            <div class="username-field">
                <label for="username-input">Benutzername</label>
                <input type="username" class="form-control" id="username-input" name="username" placeholder="Benutzername...">
            </div>
            <div class="password-field">
                <label for="passwords-input">Passwort</label>
                <input type="password" class="form-control" id="password-input" name="password" placeholder="Passwort...">
            </div>
            <div class="login-buttons" style="text-align: left;">
                <button href="/" class="btn-default btn-lg btnGoBack" title="Go Back">Geh Zurück</button>
                <button type="submit" class="btn-default btn-lg btnLogin" title="Login">Anmeldung</button>
            </div>
        </form>
    </body>
</html>