<%- include('../partials/head')%>
    <body>
        <div id="container">
            <%- include('../partials/header')%>
            <%- include('../partials/footer')%>
        </div>
    </body>
    
    <div class="blog-post">
        <div class="blog-post-heading">
            <h1 class="blog-post-title"></h1>
            <h3 class="blog-post-location"></h3>
            <h3 class="blog-post-timestamp"></h3>
            <img class="blog-post-imag" src="">
            <p class="blog-post-text"></p>
        </div>
    </div>
</html>