<%- include('../partials/head')%>
        <form method="post", action="/adduser">
            <input type="text" name="username">
            <input type="text" name="email">
            <button type="submit">Submit</button>
        </form>
</html>